.cosmic-applications-dialog {
	background-color: rgba(25, 25, 25, 0.95); /* #191919 */
}

.app-well-app:focus .overview-icon {
	background-color: rgba(25, 25, 25, 0.95); /*background-color: #9b9b9b;*/
}

.cosmic-applications-icon {
	color: #555555;
}

.cosmic-applications-folder-title {
	color: #555555;
}

.cosmic-applications-available {
	color: black;
}

.cosmic-folder-edit-button {
	color: #555555;
	background: #f2f1ef;
}

.cosmic-folder-edit-button:hover {
	background: #f8f8f7;
}
